{% extends 'base.html' %}

{% block title %}
	User registration field
{% endblock title %}

{% block content %}
    <h1 style="margin-left: 100px; font-family: Arial, Helvetica, sans-serif; margin-top: 15px;">User Registration </h1>
    <p style="margin-left: 100px; font-family: Arial, Helvetica, sans-serif;">In order to register you should enter your username and password</p>
    <form method="post">
        <table style="margin-left: 100px; font-family: Arial, Helvetica, sans-serif;">
            {{ form.as_table }}
            {% csrf_token %}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Sign up"></td>
            </tr>
        </table>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock content %}